/* You can add global styles to this file, and also import other style files */
// @import '../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/bootstrap.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

@import 'assets/custom-styles/checkbox';

.ngx-datatable{
  &.bootstrap{
    border: 1px solid #dadada;
    border-radius: 3px;
    font-size: 14px;
  }
  .datatable-header{
    background-color: #f1f1f1;
    .datatable-header-cell{
      color: black;
      font-weight: bold;
    }
  }
  .datatable-body{
    .datatable-body-row{
      &.datatable-row-even{
        background-color: transparent !important;
        &.active{
          background-color: #1483ff !important;
        }
      }
      .datatable-body-cell{
        overflow: inherit;
      }
    }
  }
  .datatable-footer{
    background-color: transparent !important;
    color: #337ab7 !important;
    .pager{
      li{
        margin: 10px -2px !important;
        &.pages{
          margin: 10px 0px !important;
          &:first-child{
            margin-left: -2px !important;
          }
        }
        a{
          // background-color: #424242;
          border: 1px solid #337ab757;
          border-radius: 1px !important;
          margin: 0 !important;
          color: #337ab7 !important;
          height: 32px !important;
          min-width: 32px !important;
          line-height: 32px !important;
        }
        &.active, &:hover{
          a{
            background-color: #337ab7 !important;
            color: #FFF !important;
          }
        }
        &.disabled{
          a{
            // background-color: #424242;
            color: #CCC !important;
  
          }
        }
      }
      .datatable-icon-prev, .datatable-icon-left, .datatable-icon-skip, .datatable-icon-right{
        line-height: 36px !important;
      }
    }
  }
}
.table-top-form{
  border: 1px solid #dadada;
  border-bottom: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 15px;
}
// .ngx-datatable.bootstrap .datatable-footer .datatable-pager a
// .ngx-datatable.bootstrap .datatable-body .datatable-body-row.datatable-row-even
// .ngx-datatable.bootstrap .datatable-body .datatable-body-row .datatable-body-cell